/* Color Theme Swatches in Hex */
$my-first-color-name-1-hex: #4D6B80;
$my-first-color-name-2-hex: #E5F5FF;
$my-first-color-name-3-hex: #99D6FF;
$my-first-color-name-4-hex: #737A80;
$my-first-color-name-5-hex: #7AABCC;

/* Color Theme Swatches in RGBA */
$my-first-color-name-1-rgba: rgba(77,107,128, 1);
$my-first-color-name-2-rgba: rgba(229,245,255, 1);
$my-first-color-name-3-rgba: rgba(153,214,255, 1);
$my-first-color-name-4-rgba: rgba(115,122,128, 1);
$my-first-color-name-5-rgba: rgba(122,171,204, 1);

$font-family-default:'EB Garamond', serif;
$font-family-second:'Roboto Mono', monospace;